<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#pedagogy" role="tab" data-toggle="tab">
            <i class="fa fa-book"></i>
            Pedagogy
            </a>
         </li>
         <li>
            <a href="#use" role="tab" data-toggle="tab">
            <i class="fa fa-comments"></i>
            Use
            </a>
         </li>
         <li>
            <a href="#analysis" role="tab" data-toggle="tab">
            <i class="material-icons">timeline</i>
            Analysis
            </a>
         </li>
         <li>
            <a href="#processes" role="tab" data-toggle="tab">
            <i class="fa fa-gears"></i>
            Processes
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="pedagogy">
            <div class="row">
               <div class="col-md-4">
                  <img src="{{"/img/sb.jpg" | relURL }}"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  L2 pedagogy. Heritage langauge pedagogy.
                  <br/>  
                  <strong>Skills</strong>:
                  
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="https://isearch.asu.edu/profile/2445631" target="_blank">Sara Beaudrie, PhD</a>, Thursday, 09/21
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="use">
            <div class="row">
               <div class="col-md-4">
                  <img src="{{"/img/rb.jpg" | relURL }}"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  Sociolinguistic approaches to SLA. Bilingualism. Spanish in the U.S.
                  <br/>  
                  <strong>Skills</strong>:
                  RMarkdown
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="http://ryanmbessett.weebly.com" target="_blank">Ryan M. Bessett</a>, PhD, Thursday, 10/12
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="analysis">
            <div class="row">
               <div class="col-md-4">
                  <img src="{{"/img/ms.jpg" | relURL }}"  class="img-rounded img-responsive img-raised">
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  Phonetics and phonology of bilingualism. Speech production. Speech perception.
                  <br/>  
                  <strong>Skills</strong>:
                  Praat
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="https://sites.google.com/site/miquelsimonet/Home" target="_blank">Miquel Simonet</a>, PhD, Monday, 11/06
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="processes">
            <div class="row">
               <div class="col-md-4">
                  <img src="{{"/img/ns.jpg" | relURL }}"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  Bilingualism and the brain
                  <br/>  
                  <strong>Skills</strong>:
                  PsychoPy2
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="http://span-port.rutgers.edu/people/faculty/30-personnel/faculty/452-nuria-sagarra" target="_blank">Nuria Sagarra</a>, PhD, Thursday, 11/30
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
