<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#pedagogy" role="tab" data-toggle="tab">
            <i class="fa fa-book"></i>
            Pedagogy
            </a>
         </li>
         <li>
            <a href="#use" role="tab" data-toggle="tab">
            <i class="fa fa-comments"></i>
            Use
            </a>
         </li>
         <li>
            <a href="#analysis" role="tab" data-toggle="tab">
            <i class="material-icons">timeline</i>
            Analysis
            </a>
         </li>
         <li>
            <a href="#processes" role="tab" data-toggle="tab">
            <i class="fa fa-gears"></i>
            Processes
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="pedagogy">
            <div class="row">
               <div class="col-md-4">
                  <img src="https://0.academia-photos.com/8307553/38562519/32220117/s200_manel.lacorte.jpg"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  L2 pedagogy. Immersion.
                  <br/>  
                  <strong>Skills</strong>:
                  
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="https://www.middlebury.edu/language-schools/people/manel-lacorte" target="_blank">Manel Lacorte, PhD</a>, Wednesday, 02/02
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="use">
            <div class="row">
               <div class="col-md-4">
                  <img src="http://ryanmbessett.weebly.com/uploads/5/0/1/6/50162635/9189642.jpg?295"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  Sociolinguistic approaches to SLA. Bilingualism. Spanish in the U.S.
                  <br/>  
                  <strong>Skills</strong>:
                  RMarkdown
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="http://ryanmbessett.weebly.com" target="_blank">Ryan M. Bessett</a>, PhD, Wednesday, 02/23
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="analysis">
            <div class="row">
               <div class="col-md-4">
                  <img src=""  class="img-rounded img-responsive img-raised">
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  TBA.
                  <br/>  
                  <strong>Skills</strong>:
                  Praat
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="https://sites.google.com/site/miquelsimonet/Home" target="_blank">TBA</a>, PhD, Wednesday, 03/23
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="processes">
            <div class="row">
               <div class="col-md-4">
                  <img src="https://crislozano.me/author/cristina-lozano-arguelles/avatar_hu3d03a01dcc18bc5be0e67db3d8d209a6_702761_270x270_fill_q90_lanczos_center.jpg"  class="img-rounded img-responsive img-raised">  
               </div>
               <div class="col-md-8">
                  <strong>Topics</strong>:
                  Cognitive advantages of bilingualism
                  <br/>  
                  <strong>Skills</strong>:
                  PsychoPy2
                  </br>
                  <strong>Guest lecturer</strong>: 
                  <a href="https://crislozano.me" target="_blank">Cristina Lozano Argüelles</a>, PhD, Wednesday, 04/13
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
