<!-- Begin Profile Tabs -->
<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#slack" role="tab" data-toggle="tab">
            <i class="fa fa-slack"></i>
            Slack
            </a>
         </li>
         <li>
            <a href="#r" role="tab" data-toggle="tab">
            <i class="icon-rlogo"></i>
            R
            </a>
         </li>
         <li>
            <a href="#praat" role="tab" data-toggle="tab">
            <i class="fa fa-microphone"></i>
            Praat
            </a>
         </li>
          <li>
            <a href="#psychopy" role="tab" data-toggle="tab">
            <i class="fa fa-code"></i>
            PsychoPy2
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="slack">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 Slack is a communication platform we'll use to discuss specific topics outside of class. It also serves as a resource for students to ask questions and exchange information relevant to the course. You will receive an email with an invitation link to join the course Slack. For personal matters (only) you can email the professor.
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="r">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 R is the statistical programming language we will learn about (albeit superficially) in this class. You can download R <a href="https://cran.r-project.org" target="_blank">here</a>. We will interface with R using RStudio, a fully feautred IDE. RStudio is available to download <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">here</a>. 
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="praat">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 <a href="http://praat.org" target="_blank">Praat</a> is a cross-platform, free computer program used for analyzing speech. Students will learn to use Praat to analyze vowels and consonants.
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="psychopy">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 <a href="http://www.psychopy.org" target="_blank">PsychoPy2</a> is used for presenting stimuli in psycholinguistic experiments. Students will learn to build simple production and perception experiments using pyschopy in builder mode.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
